.main_menu_container {
    -fx-background-color: #EEE; /* very light gray */
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
}

.left_container {
    -fx-background-color: #FFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAA, 5, 0, 0, 4); /* medium light gray */
}

/* Title/Logo Section */

.title_container {
    -fx-background-color: #FFF; /* white */
    -fx-background-radius: 20, 20, 0, 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView {
    -fx-fill: #132A13; /* dark greenish */
}

.title_container Text {
    -fx-fill: #000; /* Black */
    -fx-font-size: 2em;
}

/* Navigation Section */
.navigation_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.navigation_container Button {
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-background-color: #FFF; /* white */
    -fx-text-fill: #132A13; /* dark green */
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDD, 5, 0, 0, 6); /* light shade of gray */
}

.navigation_container Button:hover {
    -fx-cursor: hand;
}

.navigation_container Button FontAwesomeIconView {
    -fx-fill: #132A13;
}

.alt_navigation_btn {
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-background-color: #132A13; /* dark green */
    -fx-text-fill: #FFF; /* white */
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
}

.alt_navigation_btn FontAwesomeIconView {
    -fx-fill: #FFF; /* white */
}

.report_container {
    -fx-background-color: #EEFFEE;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #132A13;
}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFF;
}

.report_container Button:hover {
    -fx-cursor: hand;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: #FFF;
}